# KLASIFIKASI
### Salsabila Apri Intania

## Import pustaka yang diperlukan

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,classification_report, confusion_matrix
import matplotlib.pyplot as plt
%matplotlib inline

## Memuat dataset

In [2]:
import pandas as pd
iris = pd.read_csv('K02_diabetes.csv')

## Menyelaraskan data yang memiliki tipe data berbeda

In [9]:
df = pd.get_dummies(iris, columns = ['gender','smoking_history'],prefix = 'item')

X = df.iloc[:,:15].values
y = df.iloc[:,15:].values
df

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,item_Female,item_Male,item_Other,item_No Info,item_current,item_ever,item_former,item_never,item_not current
0,80.0,0,1,25.19,6.6,140,0,True,False,False,False,False,False,False,True,False
1,54.0,0,0,27.32,6.6,80,0,True,False,False,True,False,False,False,False,False
2,28.0,0,0,27.32,5.7,158,0,False,True,False,False,False,False,False,True,False
3,36.0,0,0,23.45,5.0,155,0,True,False,False,False,True,False,False,False,False
4,76.0,1,1,20.14,4.8,155,0,False,True,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,80.0,0,0,27.32,6.2,90,0,True,False,False,True,False,False,False,False,False
99996,2.0,0,0,17.37,6.5,100,0,True,False,False,True,False,False,False,False,False
99997,66.0,0,0,27.83,5.7,155,0,False,True,False,False,False,False,True,False,False
99998,24.0,0,0,35.42,4.0,100,0,True,False,False,False,False,False,False,True,False
99999,57.0,0,0,22.43,6.6,90,0,True,False,False,False,True,False,False,False,False

## Decision Tree

In [10]:
from sklearn import tree
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=0)

model = DecisionTreeClassifier()
model = model.fit(X_train, y_train)

In [11]:
y_pred = model.predict(X_test)

## Menentukan Akurasi Klasifikasi

In [12]:
print("\nAkurasi Skore:")
print(accuracy_score(y_pred, y_test))

Akurasi Skore:
1.0